*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#logo{
    margin: 10px 30px;
}
#logo img{
    height: 90px;
    margin: 3px 5px;
    border-radius: 12px;
}

#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: #fff;
    
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    text-justify: auto;
    color: white;
    font-size: 23px;
    height: 400px;
}
#home::before{
    background: url('../img/bg2.jpg') no-repeat center center/cover;
    content: "";
    position: absolute;
    height: 85%;
    width: 100%;
    z-index: -2;
    opacity: 0.98;
    top: 0px;
    left: 0px;
}
#home h1{
    color: #fff;
    text-align: center;
}
#home p{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}
.btn{
font-size: 23px;
padding: 6px 20px;
border: 2px solid rgb(27, 20, 20);
border-radius: 14px;
margin: 16px 14px;
cursor: pointer;
}
.btn:hover{
    color:rgb(56, 68, 170);
}
.h-primary{
    font-size: 2.8rem;
    padding: 6px;
    margin: 10px;
   
}
.h-secondary{
    font-size: 2rem;
    padding: 6px;
    margin: 10px;
   
}
#services{
    margin: 30px;
    display: flex;
}
#services .box{
border: 2px solid brown;
text-align: center;
padding: 34px;
margin: 3px 6px;
border-radius: 23px;
background-color: rgb(207, 200, 200);
}
#services .box img{
height: 100px;
display: block;
margin: auto;
}
.hp{
    text-align: center;
    margin: auto;
    padding: 34px 34px;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 124px;
}
.client-item{
    padding: 34px;
}
#client-section{
    
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/bg1.jpg');
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.59;
}
.hps{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
}
#contact{
    position: relative;
    text-align: center;
    font-size: 34px;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/c.jpg') no-repeat center center/cover;
}
footer{
    background: black;
    color: #fff;
    padding: 12px;
    text-align: center;
}

